@import "foundation/scss/normalize";
@import "foundation/scss/foundation";

html, body {
  font-weight: 400;
  background-color: $white;
}

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h4, h5, h6 {
  font-weight: 600;
}

textarea {
  resize: none;
}
