$white: #fff;
$black: #000;
$primary-color: #e67e22;

$body-font-family: 'Open Sans', sans-serif;

$topbar-bg-color: transparent;
$topbar-dropdown-bg: transparent;
$topbar-link-color: #666;
$topbar-link-color-hover: $black;
$topbar-link-bg-color-hover: transparent;
$topbar-link-bg-hover: transparent;
$topbar-divider-border-top: none;
$topbar-divider-border-bottom: none;
