<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>bxchange</title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/application.css">

  <script src="/assets/javascript/angular.min.js"></script>
  <script src="/assets/javascript/angular-route.min.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
</head>
<body ng-app="bxchange">
  <header>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name"><a href="/">bxchange</a></li>
        <li class="toggle-topbar menu-icon"></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right" ng-if="currentUser">
          <!-- <li><a href="/my/transactions">My Offers</a></li> -->
          <li><a href="javascript:void(0)" ng-click="logOut()">Logout</a></li>
          <li class="user-details">Logged in as <span>{{ currentUser.first_name + ' ' + currentUser.last_name }}</span></li>
        </ul>
        <ul class="right" ng-if="!currentUser">
          <li><a href="/register">Login</a></li>
        </ul>
      </section>
    </nav>
  </header>
  <flash-container></flash-container>

  <main>
    <ng-view></ng-view>
  </main>

  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>
