<section class="row">
  <div class="small-12 columns">
    <button ng-click="refreshBookList()" ng-if="outdated">A couple of new books were added, refresh the list?</button>
    <ul class="small-block-grid-1 medium-block-grid-3">
      <li ng-repeat="book in books track by $index">
        <a ng-href="/book/{{ book.id }}">
          <section class="books-list-item">
            <img class="thumbnail" ng-src="{{ book.thumbnail }}" alt="">
            <h3 class="title">{{ book.title }}</h3>
            <p class="description">{{ book.description || "No description" }}</p>
          </section>
        </a>
      </li>
    </ul>
  </div>
</section>
