<section class="row">
  <div class="small-12 columns">
    <div class="book">
      <header class="row">
        <div class="small-12 medium-9 columns">
          <img class="thumbnail" ng-src="{{ book.thumbnail }}" alt="">
          <h1 ng-cloak>{{ book.title }}</h1>
        </div>
        <ul class="details">
          <div class="small-12 medium-6 columns">
            <li ng-if="book.links">Check it out on <a ng-href="{{ book.links }}" target="_blank">Google books</a></li>
            <li>Posted by <a ng-href="/user/{{ book.owner_username }}">{{ book.owner_username }}</a></li>
            <li ng-if="book.ISBN_13">ISBN Number: {{ book.ISBN_13 }}</li>
            <!-- <li ng&#45;if="transactions">{{ transactions.length }} offers made</li> -->
            <!-- <li ng&#45;if="!transactions.length">No offers made, be the first!</li> -->
          </div>
          <div class="small-12 medium-6 columns controls">
            <li ng-if="currentUser"><a ng-href="/book/{{ book.id }}/transactions/new" class="button">Make an offer</a></li>
            <li ng-if="!currentUser"><a href="/register">Log in</a> to make an offer</li>
          </div>
        </ul>
      </header>

      <div class="row">
        <div class="small-12 medium-9 columns">
          <p ng-cloak>{{ book.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section>


