<section class="row">
  <div class="small-12 columns">
    <h1>Welcome to B-Xchange</h1>
    <h3>Register with:</h3>
    <span id="myContainer"></span><span id="signinButton">
      <button  id="authorize-button" class="g-signin alert" ng-click="googleLogin()">Google+</button>
    </span>
  </div>
</span>
