<section>
    <div class="row">
      <h1>My Offers</h1>
      <div class="small-12 columns">
        <p ng-if="!transactions.length">You have no offers in place</p>
        <ul>
          <li ng-repeat="transaction in transactions track by $index">
            <section>
              {{ transaction }}
            </section>
          </li>
        </ul>
      </div>
    </div>
</section>
