<section class="row">
  <div class="small-12 columns">
    <ul>
      <li ng-repeat="transaction in transactions track by $index">
        <p>Username: {{ transaction.username }}</p>
        <p>Method: {{ transaction.method }}</p>
        <p>State: {{ transaction.state }}</p>
      </li>
    </ul>
  </div>
</section>
