<section>
  <div class="row">
    <div class="book">
      <div class="small-12 medium-9 columns">
        <img class="thumbnail" ng-src="{{ book.thumbnail }}" alt="">
        <h1 ng-cloak>{{ book.title }}</h1>
      </div>
    </div>
  </div>

  <form ng-init="form = { method: 'coffee', comment: '' }" class="transaction-form" ng-submit="onSubmitForm(form)">
    <div class="row">
      <div class="small-12 medium-9 columns">
        <p>What would you like to do for {{ book.owner_first + ' ' + book.owner_last }}?</p>
        <p class="description">{{ methodDescription }}</p>
        <!-- <label class="button" ng&#45;class="{ secondary: (form.method !== 'credit') }" -->
        <!--     for="transaction_credit"> -->
        <!--   <input type="radio" id="transaction_credit" ng&#45;model="form.method" value="credit"> -->
        <!--   Use credits -->
        <!-- </label> -->
        <label class="button" ng-class="{ secondary: (form.method !== 'exchange') }"
            for="transaction_exchange">
          <input type="radio" id="transaction_exchange" ng-model="form.method" value="exchange">
          Make an exchange
        </label>
        <label class="button" ng-class="{ secondary: (form.method !== 'donation') }"
            for="transaction_donation">
          <input type="radio" id="transaction_donation" ng-model="form.method" value="donation">
          Make a donation
        </label>
        <label class="button" ng-class="{ secondary: (form.method !== 'coffee') }"
            for="transaction_coffee">
          <input type="radio" id="transaction_coffee" ng-model="form.method" value="coffee">
          Buy me a coffee
        </label>

        <!-- <label for="transaction_comment">Message (Optional)</label> -->
        <!-- <textarea id="transaction_comment" ng&#45;model="form.comment" -->
        <!--   rows="5" placeholder="Why should your offer be accepted?"></textarea> -->
        <!--  -->
        <!-- <input class="button" type="submit" value="Submit"></input> -->
      </div>
    </div>
  </form>

  <div class="row">
    <div class="small-12 medium-9 columns">
      <form id="checkout" ng-show="form.method === 'coffee'" ng-submit="payForCoffee()">
        <div id="dropin"></div>
        <input class="button" type="submit" value="Buy me a coffee">
      </form>

      <iframe style="width: 100%; height: 500px;" src="https://www.justgiving.com/battlehack/4w350m3/donate/?amount=1&reference=bxchange#MessageAndAmount" frameborder="0" ng-show="form.method === 'donation'">
      </iframe>

      <div ng-show="form.method === 'exchange'">
        <p ng-if="!exchangeables.length">You do not have any items to exchange</p>
        <ul ng-repeat="item in exchangeables track by $index">
          <li>{{ item }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
