.flash-container {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}

ul.flash-container {
  list-style: none;
}

.flash-message {
  font-size: rem-calc(14px);
  margin: 5px;
  background: $white;
  background: rgba(250, 250, 250, 0.7);
  padding: 20px;
}

@media (min-width: upper-bound($small-range)) {
  .flash-container {
    width: 320px;
    left: auto;
  }
}
