.top-bar {
  .name {
    margin-left: rem-calc(24px);
  }

  .user-details {
    font-weight: 300;
    font-size: rem-calc(14px);
    line-height: 40px;
  }

  .right {
    margin-right: rem-calc(24px);
  }

  a {
    color: $steel;
    line-height: 40px !important;
    font-weight: 300;
    text-transform: uppercase !important;

    &:hover {
      color: $black;
    }
  }
}
