.thumbnail {
  border: 1px solid $black;
}

.books-list-item {
  box-shadow: 0 0 10px $smoke;
  padding: 20px;
  height: 360px;
  cursor: pointer;

  .thumbnail {
    display: block;
    margin: auto;
    height: 240px;
  }

  .title {
    color: $steel;
    margin-top: rem-calc(8px);
    font-size: rem-calc(18px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .description {
    color: $aluminum;
    font-size: rem-calc(12px);
    line-height: rem-calc(14px);
    height: rem-calc(28px);
    overflow: hidden;
  }
}

.book {
  box-shadow: 0 0 10px $smoke;

  .row {
    padding: 20px;
  }

  .thumbnail {
    height: 240px;
  }

  .details {
    color: $aluminum;
    font-size: rem-calc(12px);
  }

  ul.details {
    margin-left: 0;
    list-style: none;
  }
}

@media (max-width: upper-bound($small-range)) {
  .book .controls {
    padding-top: 20px;
  }
}
